

.Poppins h1{
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #264653;
}
.purches-btn{
    color: white;
    background-color:  #E76F51;
    padding: 9px 25px;
    border: none;
    
}
.input-btn{
    color: white;
    background-color:  #E76F51;
    padding: 9px 25px;
    border-radius: 5px;
    border: none;
}
.text-custom-color{
    color: 
    #E76F51
    ;
    background-color: ;
}

.grayscale{
    filter: grayscale(100%);
}
.images{
   
    padding: 3rem 5rem ;
}